table {
  width: 100%;
  border: 1px solid #d0d0d0;
}
table.w80 {
  width: 80%;
}
table.w40 {
  width: 40%;
}
table .tr.totales-container {
  border-top: 1px solid #000;
}
table th,
table td {
  padding: 2px 10px;
  border: 1px solid #d0d0d0;
}
table th.currency-container,
table th.percent-container,
table th.value-container,
table td.currency-container,
table td.percent-container,
table td.value-container {
  text-align: right;
}
table th.title,
table td.title {
  background-color: #f0f8ff;
  color: #000;
  font-weight: bold;
}
