table {
  width: 100%;
  border: 1px solid #d0d0d0;

  &.w80 {
    width: 80%;
  }

  &.w40 {
    width: 40%;
  }

  .tr {
    &.totales-container {
      border-top: 1px solid #000;
    }
  }

  th,
  td {
    padding: 2px 10px;
    border: 1px solid #d0d0d0;

    &.currency-container,
    &.percent-container,
    &.value-container {
      text-align: right;
    }

    &.title {
      background-color: #f0f8ff;
      color: #000;
      font-weight: bold;
    }
  }
}
