.options-container {
  text-align: center;
  margin-bottom: 20px;
  .btn-xxl {
    div:first-child{
      p{
        font-size: 12pt;
        margin-bottom: 0;
      }

      b{
        font-size: 30pt;
      }
    }
  }
}
