.view-container {
    .view-title {
      background: #fefefe;
      padding: 10px 20px;
      width: 100%;
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 10px;
    }

    .card {
      padding: 1em 1em;
      border: 0px;
  
      .body-card {
        width: 300px;
      }

      .button {
        min-width: unset!important;
      }
  
      .mat-container {
        justify-content: flex-end;
      }
    }
  }
  