.profiles-container {
  table {
    thead {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      th {
        padding: 5px 8px;
        text-align: center;
      }
    }

    tbody {
      tr {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        td {
          padding: 5px;
          text-align: center;

          &.opciones {
            a {
              padding: 0 5px;
              cursor: pointer;
            }
          }

          &.valaseg {
            input{
                max-width: 70%;
            }
          }

          input {
            border: 0;
            outline-width: 0;
            border-bottom: 1px solid #888;
            text-align: center;
            max-width: 32px;
          }
        }
      }
    }
  }
}
