.cc-contacts-container {
  padding: 5px;
  .badge-email-contact {
    padding: 6px;
    margin: 2px;
    background-color: #fff;
    color: gray;
    border: 1px solid #949494;
    border-radius: 20px;
  }
}