<!-- <app-navbar></app-navbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <div class="sidenav-options-container">
      <mat-nav-list>
        <a *ngFor="let item of items" mat-list-item class="thin-text sm" [routerLink]="item.routerLink">
          <mat-icon matListIcon class="app-nav-list-icon">{{item.icon}}</mat-icon>
          {{item.text}}
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
