$_THIN_TEXT_0: "Segoe UI Light", Helvetica, Arial, "Sans-Serif";
$_THIN_TEXT_1: "Segoe UI VSS (Regular)", "Segoe UI", "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue",
  Helvetica, "Ubuntu", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$_THIN_TEXT: "Lato Ligth", "Roboto", "Helvetica Neue", Helvetica, "Ubuntu", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
