<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field class="mat-form-field-text">
    <mat-label>Casual Texto</mat-label>
    <input matInput formControlName="causalTexto">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tipo Causal</mat-label>
    <mat-select [(ngModel)]="tipoCausal" formControlName="tipoCausal">
      <mat-option *ngFor="let tc of tipoCausales" [value]="tc.value">
        {{tc.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-checkbox class="example-margin" [(ngModel)]="activo" formControlName="activo">Activo</mat-checkbox>
  </div>
  <div *ngIf="tipoCausal !== 1">
    <mat-checkbox class="example-margin" [(ngModel)]="externo" formControlName="externo">Externo</mat-checkbox>
  </div>
  <div *ngIf="tipoCausal !== 1">
    <mat-checkbox class="example-margin" [(ngModel)]="solidaria" formControlName="solidaria">Solidaria</mat-checkbox>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="mat-container">
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="Edit()">Editar</button>
</mat-dialog-actions>
